{% extends "base.html" %}

{% block app_content %}
  <div class="jumbotron">
    <h1>Boston's Future as a Smart City</h1>
  </div>
  <h1>What is a Smart City?</h1>
  <p>
    A municipality that uses information technology to increase efficiency and
    to improve the quality of public life.
    <img src="../static/iota-smart_city_components_mobile.jpg" />
  </p>
  <h1>What is the goal of this project?</h1>
  <p class="desc">
    Smart City technology is a rapidly developing area of research around the world.
    Some cities have had a long history of adopting new technologies to make
    operations more efficient (like Singapore), and some cities have been
    reluctant to embrace new technologies. Boston is somewhere in the middle,
    looking at these new technologies as ways to improve public life, but
    requiring them to be thoroughly examined and scrutinized before implementation.
    This website hopes to shed light on Boston’s current and planned initiatives
    on implementing ‘Smart City’ technologies, as well as to offer suggestions
    based on implementations from other cities.
  </p>
{% endblock %}
